*.pyc
*.pyo
*.orig
*.rej
*.egg-info
dist
*.db
*.log
*.log.*
*.mo
.DS_Store
.project
.pydevproject
.settings
nbproject
*.local.cfg
*.fts
doc/_build
.idea/.name
.idea/encodings.xml
.idea/kansha.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
data/assets/*
data/templates/*
