graft kansha/alembic
graft static
graft conf
graft data/locale
graft data/captcha
graft vendors
include data/assets/EMPTY_DIR
include data/logs/EMPTY_DIR
include README.rst
include VERSION.txt
include Changelog.rst
exclude conf/kansha.cfg.local
