body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ccc;
}

dt {
    font-weight: bold;
}

div.body p.caption {
    font-style: italic;
    margin-top: 0;
    text-align: center;
}